/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
/* header styles */
.header {
background-color: #f3f058;
display: flex;
justify-content: center;
}


/* projects section */
.projects {
background-color: rgb(111, 236, 194);
}