/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
/* header styles */
.header {
background-color: #f3f058;
display: flex;
justify-content: center;
}
.headerText {
    background-color: #4e72a1;
    display: flex;
    justify-content: center;
}

/* projects section */
.projects {
background-color: rgba(60, 190, 136, 0.747);
display: flex;
justify-content: center;

}
.project{
    color:aliceblue;
}
.project:hover{
    background-color: blue;
}
.projectSpacing{
    padding: 30px;
    background-color: aqua;
}
/* first of child */
.project:first-child {
    background: rgba(245, 229, 13, 0.973);
    width: 300px;
    margin: 0;
  }

  /* footer */
  .footer {
   background-color:black;
  color:white;
  }
  .footer a {
      color:aliceblue;
  }